@{
    ViewData["Title"] = "Create Project";
    Layout = "_Layout";
}

<head>

</head>

<body>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="input1">Project Name</label>
                <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Project Manager</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Estimated Cost</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Funding</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPassword4">Estimated Labor Costs</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Estimated Material Costs</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Estimated Volunteer Costs</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPassword4">Capital Expenses: Budgeted</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Capital Expenses: Quoted</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Capital Expenses: Estimated</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPassword4">Operational Expenses: Budgeted</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Operational Expenses: Quoted</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Operational Expenses: Estimated</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputPassword4">Start Date</label>
                <input type="date" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Estimated End Date</label>
                <input type="date" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group .col-4">
                <label for="inputPassword4">Project Description</label>
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="5" style="margin:20px"></textarea>
            </div>
        </div>

    </form>
</body>