@{
    ViewData["Title"] = "Home Page";
}

<div class="dataTable" style="padding:10px">
    <table id="example" class="dt-table table table-striped table-bordered dt-responsive" style="width:100%">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Manager</th>
                <th>Start Date</th>
                <th>Estimated End Date</th>
                <th>Estimated cost</th>
                <th>Status</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Floor Replacements</td>
                <td>Joe Budden</td>
                <td>10/2/2018</td>
                <td>12/2/2018</td>
                <td>$320,800</td>
                <td>Planned</td>
                <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>

            </tr>      
            <tr>
                <td>Light Bulb Installation</td>
                <td>LeBron James</td>
                <td>10/2/2017</td>
                <td>12/2/2018</td>
                <td>$320,800</td>
                <td>Planned</td>
                <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>

            </tr>      
            <tr>
                <td>Back Yard Setup</td>
                <td>Jack Daniels</td>
                <td>10/2/2018</td>
                <td>12/2/2019</td>
                <td>$320,800</td>
                <td>Planned</td>
                <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>

            </tr>
    </table>
</div>

<!-- Description Modal -->
<div class="modal fade" id="projectInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="input1">Project Name</label>
                        <input type="text" class="form-control" id="inputEmail4" >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Project Manager</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Estimated Cost</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Funding</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Estimated Labor Costs</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Estimated Material Costs</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Estimated Volunteer Costs</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Capital Expenses: Budgeted</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Capital Expenses: Quoted</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Capital Expenses: Estimated</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Operational Expenses: Budgeted</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Operational Expenses: Quoted</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Operational Expenses: Estimated</label>
                        <input type="text" class="form-control" id="inputPassword4" >
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Start Date</label>
                        <input type="date" class="form-control" id="inputPassword4" >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Estimated End Date</label>
                        <input type="date" class="form-control" id="inputPassword4">
                    </div>                    
                    <div class="form-group .col-4">
                        <label for="inputPassword4">Project Description</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>

            </form>
            <div class="modal-footer row">
                <button type="submit" class="btn btn-primary">Save Chanes</button>
                <button type="button" class="btn btn-primary"><a href="">View Page Details</a></button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>