
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<head>

</head>
<body>
    <img src="~/images/5starlogo.png" alt="Smiley face" height="400" width="900" style="padding:100px">

</body>
