
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<head>

</head>
<body>
    <div class="dataTable" style="padding:10px">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr class="hover">
                    <th>Project</th>
                    <th>Manager</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Estimated End Date</th>
                    <th>Tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>2011/04/25</td>
                    <td>2011/04/25</td>
                    <td>shshhshsh</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>2011/07/25</td>
                    <td>2011/07/25</td>
                    <td>jssjjs</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
