@{
    ViewData["Title"] = "Project Details";
    Layout = "_Layout";
}
<body>
    <h1 class="page_title">Create Project</h1>
    <div class="container">
        <form class="form-horizontal">
            <div class="form-row">
                <div class="form-group col-md-6 form-align">

                    <label class="control-label col-sm-4 form-spacing" for="email">Project Name:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">someone@example.com</p>
                    </div>
                    <label class="control-label col-sm-4 form-spacing" for="email">Project Manager:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">someone@example.com</p>
                    </div>
                    <label class="control-label col-sm-4 form-spacing" for="email">Funded From:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">someone@example.com</p>
                    </div>

                    <label class="control-label col-sm-4 form-spacing">Start Date:</label>
                    <div class="col-sm-8 form-spacing">
                        <input type="date" readonly class="form-control" id="inputPassword4">
                    </div>

                    <label class="control-label col-sm-4 form-spacing">Estimated End Date:</label>
                    <div class="col-sm-8 form-spacing">
                        <input type="date" readonly class="form-control" id="inputPassword4">
                    </div>

                    <label class="control-label col-sm-4 form-spacing">Project Description:</label>
                    <div class="col-sm-8 form-spacing">
                        <textarea readonly class="form-control rounded-0" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-md-4 form-spacing">Project Costs:</label>

                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Labor:</label>
                            <p class="form-control-static">$1,000</p>
                        </div>
                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Material:</label>
                            <p class="form-control-static">$5,000</p>
                        </div>
                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Volunteer:</label>
                            <p class="form-control-static">$4,000</p>
                        </div>
                        <div class="form-group col-md-1 form-spacing">
                            <label for="inputPassword4">Actual:</label>
                            <p class="form-control-static">$4,000</p>
                        </div>

                    </div>
                    <div class="form-row">
                        <label class="control-label col-md-4 form-spacing">Operational Costs:</label>

                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Budgeted:</label>
                            <p class="form-control-static">$1,000,000</p>
                        </div>
                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Quoted:</label>
                            <p class="form-control-static">$50,000</p>
                        </div>
                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Estimated:</label>
                            <p class="form-control-static">$40,000</p>
                        </div>
                        <div class="form-group col-md-1 form-spacing">
                            <label for="inputPassword4">Actual:</label>
                            <p class="form-control-static">$4,000</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-md-4 form-spacing">Capital Costs:</label>

                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Budgeted:</label>
                            <p class="form-control-static">$1,000,000</p>
                        </div>
                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Quoted:</label>
                            <p class="form-control-static">$50,000</p>
                        </div>
                        <div class="form-group col-md-3 form-spacing">
                            <label for="inputPassword4">Estimated:</label>
                            <p class="form-control-static">$40,000</p>
                        </div>
                        <div class="form-group col-md-1 form-spacing">
                            <label for="inputPassword4">Actual:</label>
                            <p class="form-control-static">$4,000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail" style="width:420px;height:560px">
                        <h4><strong>Project Cost Breakdown:</strong></h4>
                        <canvas id="myChart" width="320" height="400"></canvas>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="fw-container">
        <div class="fw-body">
            <div class="content">
                <h2 class="page_title">Project Tasks</h2>
                <hr />
                <div id="example_wrapper" class="dataTables_wrapper">
                    <div class="dataTables_length" id="example_length">

                        <table id="tasks" class="display dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 131px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 211px;" aria-label="Position: activate to sort column ascending">Description</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 99px;" aria-label="Office: activate to sort column ascending">Created By</th>

                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 41px;" aria-label="Age: activate to sort column ascending">Project Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 41px;" aria-label="Age: activate to sort column ascending">Vendor Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 41px;" aria-label="Age: activate to sort column ascending">Location</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 41px;" aria-label="Age: activate to sort column ascending">Cost Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 90px;" aria-label="Start date: activate to sort column ascending">Date Created</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 76px;" aria-label="Salary: activate to sort column ascending">Estimated Cost</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 76px;" aria-label="Salary: activate to sort column ascending">Actual Cost</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 76px;" aria-label="Salary: activate to sort column ascending">Estimated Hours</th>
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 76px;" aria-label="Salary: activate to sort column ascending">Actual Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">Stucco Repair</td>
                                    <td>Wall near reception office has hole in it</td>
                                    <td>Jim Norton</td>
                                    <td>Maintenance</td>
                                    <td>Facilities</td>
                                    <td>Reception</td>

                                    <td>Unplanned</td>
                                    <td>2008/11/28</td>
                                    <td>$700</td>
                                    <td>$70</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="even">
                                    <td class="sorting_1">Backyard Upkeep</td>
                                    <td>Bushes overgrowing their plots</td>
                                    <td>Marc Lando </td>
                                    <td>Maintenance</td>
                                    <td>Facilities</td>

                                    <td>Backyard</td>
                                    <td>Planned</td>
                                    <td>2009/10/09</td>
                                    <td>$500</td>
                                    <td>$450</td>
                                    <td>4</td>
                                    <td>4</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Labor Costs", "Volunteer Hrs ", "Material Costs", "Actual Costs"],
            datasets: [{
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem) {
                        return tooltipItem.yLabel;
                    }
                }
            }
        }
    });
</script>
