@{
    ViewData["Title"] = "Project Queue";
    Layout = "_Layout";
}

<body class="wide comments example">
    <div class="content">
        <h1 class="page_title">Projects Queue</h1>
        <hr />
    </div>
    <div id="example_wrapper" class="dataTables_wrapper">
        <div class="dataTables_length" id="example_length">
            <!--<label>Show Entries<select name="example_length" aria-controls="example" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> </label></div><div id="example_filter" class="dataTables_filter"><label><input type="search" class="" placeholder="Search:" aria-controls="example"></label></div>-->
            <table id="projects" class="display dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 120px;" aria-sort="ascending" aria-label="Project Name: activate to sort column descending">Project Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 130px;" aria-label="Project Manager: activate to sort column ascending">Project Manager</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 99px;" aria-label="Start Date: activate to sort column ascending">Start Date</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;" aria-label="Estimated End Date: activate to sort column ascending">Estimated End Date</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Estimated Cost: activate to sort column ascending">Estimated Cost</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 60px;" aria-label="Status: activate to sort column ascending">Status</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Floor Replacement</td>
                        <td>LeBron James</td>
                        <td>08/10/2018</td>
                        <td>10/10/2018</td>
                        <td>$162,700</td>
                        <td>Planned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Ceiling Repair</td>
                        <td>Mike Jones</td>
                        <td>04/10/2017</td>
                        <td>11/10/2018</td>
                        <td>$12,700</td>
                        <td>Unplanned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Floor Replacement</td>
                        <td>Judy Jones</td>
                        <td>02/10/2016</td>
                        <td>10/10/2016</td>
                        <td>$342,700</td>
                        <td>Planned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Computer Lab Replacement</td>
                        <td>Michelle Reed</td>
                        <td>04/10/2019</td>
                        <td>05/10/2019</td>
                        <td>$502,700</td>
                        <td>Future</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Windows Authetication</td>
                        <td>Brian James</td>
                        <td>07/10/2018</td>
                        <td>10/10/2018</td>
                        <td>$62,700</td>
                        <td>Planned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Floor Replacement</td>
                        <td>LeBron James</td>
                        <td>08/10/2018</td>
                        <td>10/10/2018</td>
                        <td>$162,700</td>
                        <td>Planned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Tile Cleaning</td>
                        <td>James John</td>
                        <td>02/10/2019</td>
                        <td>12/20/2019</td>
                        <td>$162,700</td>
                        <td>Planned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Resident Bed Replacement</td>
                        <td>Myisha Kinberg</td>
                        <td>05/10/2019</td>
                        <td>10/10/2019</td>
                        <td>$102,700</td>
                        <td>Future</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Floor Replacement</td>
                        <td>LeBron James</td>
                        <td>08/10/2018</td>
                        <td>10/10/2018</td>
                        <td>$162,700</td>
                        <td>Planned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Bulb Replacement</td>
                        <td>Shaun Young</td>
                        <td>01/10/2018</td>
                        <td>11/10/2018</td>
                        <td>$12,700</td>
                        <td>Unplanned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Window Replacement</td>
                        <td>Mike Durden</td>
                        <td>08/10/2018</td>
                        <td>10/10/2018</td>
                        <td>$2,700</td>
                        <td>Planned</td>
                        <td><button type="button" data-toggle="modal" data-target="#projectInformation">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<!-- Description Modal -->
<div class="modal fade" id="projectInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="input1">Project Name</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Project Manager</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Estimated Cost</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Funding</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Estimated Labor Costs</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Estimated Material Costs</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Estimated Volunteer Costs</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Start Date</label>
                        <input type="date" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Estimated End Date</label>
                        <input type="date" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputPassword4">Project Description</label>
                        <textarea class="form-control rounded-0" id="descriptionTextArea" rows="5"></textarea>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
